.about{
  text-align: center;
    font-size: 11px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-decoration: underline;
    letter-spacing: 1px;
    outline: none;
}

ion-content
{
--background: linear-gradient(180deg, #667eea, #764ba2)  !important;
 }

.title{
    margin-bottom: auto;
    margin-top: auto;
    font-size: 18px;
    letter-spacing: 0.20px;
     font-family: 'Montserrat', sans-serif;
}

ion-icon{
  outline:none;
}

.grid1{
  margin-top: 10px;
}
.row2{
      border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 10px;
}


.row1{
      border: 1px solid #ffffff;
    border-radius: 20px;
}
.head{
margin-top: auto;
font-weight: bold;
margin-bottom: 8px;
font-size: 19px;
color: #fff;
 font-family: 'Montserrat', sans-serif;
}

.para{
font-size: 13px;
margin-bottom: auto;
color: #fff;
 font-family: 'Montserrat', sans-serif;
}
/*.pic{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
    height: 30%;
}

.artical{
  color: white;
    font-size: 14.5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.35px;
    font-family: "Montserrat", sans-serif;
    margin-top: 8px;
    margin-bottom: 1px;
}*/