<ion-header>
  <ion-item lines="none" color="tertiary">
  	<ion-icon name="arrow-back-outline" routerLink="/select"></ion-icon>&nbsp;&nbsp;&nbsp;
  <h6 class="title">You've earned your fun. Go binge!</h6>
 </ion-item>
 </ion-header>


<ion-content>
<!-- <p class="artical">YouTube insists that the platform is not intended for children. “We can’t speak to Pew’s methodology or results. But generally on YouTube, the most popular video categories tend to be areas like comedy, music, sports and ‘how to’. And we have always been clear YouTube has never been for people under 13,” Ivy Choi, a YouTube spokesperson, says via email. In 2015 YouTube created YouTube Kids, a platform aimed at children that is supposed to be safer and easier for parents to control and monitor. Pew’s report only examined YouTube’s main platform and YouTube’s API doesn’t provide information about whether views come from the YouTube site or YouTube Kids. However, as YouTube explains, all YouTube Kids content is also available on the main YouTube site.</p>
<br>


<div>
 <a href="https://www.genydad.com/home/2019/1/27/best-youtube-channels-for-educational-development-and-learning-for-toddlers-kids"><img src="../assets/video.png" class="pic"></a>
</div><br>
 -->

 <ion-grid class="grid1">
 	<ion-row class="row1">

 		<a href="https://www.youtube.com/natgeokidsplaylists"><ion-col>
 			<ion-row >
 			
 				<ion-col size-xs="2">
 					<div style="  float: left;"><img src="../assets/geography.png" class="pic"></div>
 				</ion-col>

 				<ion-col size-xs="10">
 			<div style="float: right;">
 				<h6 class="head">National Geographic Kids</h6>
 				<p class="para">Watch what happens when animals are caught on camera doing wacky activities! This music video series captures the funny moments animals have in their day-to-day lives.
 				</p>
 			</div>
 		</ion-col>
 	</ion-row>
 		</ion-col>
 		</a>
 	</ion-row>
 


 	<ion-row class="row2">
    <a href="https://www.youtube.com/user/MotherGooseClub"><ion-col>
 			<ion-row >
 			
 				<ion-col size-xs="2">
 					<div style="  float: left;"><img src="../assets/joker.png" class="pic"></div>
 				</ion-col>

 				<ion-col size-xs="10">
 			<div style="float: right;">
 				<h6 class="head">Mother Goose Club</h6>
 				<p class="para">Not at all fusty, the six colorful characters (adults and kids) introduce little ones to nursery rhymes and other preschool classics.
 				</p>
 			</div>
 		</ion-col>
 	</ion-row>
 		</ion-col>
 		</a>
 	</ion-row>




 	<ion-row class="row2">
    <a href="https://youtube.com/c/KIDScrafts"><ion-col>
 			<ion-row >
 			
 				<ion-col size-xs="2">
 					<div style="  float: left;"><img src="../assets/craft.png" class="pic"></div>
 				</ion-col>

 				<ion-col size-xs="10">
 			<div style="float: right;">
 				<h6 class="head">Simple Kids Crafts</h6>
 				<p class="para"> With the motto "Recycled, easy crafts that really work," this channel offers more than 700 how-tos on everything from bottle-cap tops to doll furnishings.
 				</p>
 			</div>
 		</ion-col>
 	</ion-row>
 		</ion-col>
 		</a>
 	</ion-row>



 	<ion-row class="row2">
    <a href="https://www.youtube.com/c/scishowkids"><ion-col>
 			<ion-row >
 			
 				<ion-col size-xs="2">
 					<div style="  float: left;"><img src="../assets/television.png" class="pic"></div>
 				</ion-col>

 				<ion-col size-xs="10">
 			<div style="float: right;">
 				<h6 class="head">SciShow Kids</h6>
 				<p class="para">SciShow Kids is a science YouTube channel for kids! Created by the team who makes SciShow, SciShow Kids follows Jessi & Squeaks on their scientific adventures.
 				</p>
 			</div>
 		</ion-col>
 	</ion-row>
 		</ion-col>
 		</a>
 	</ion-row>
 </ion-grid>
 <br>
<div class="about" routerLink="/about">ABOUT</div>
<br>
</ion-content>