<ion-header>
  <ion-item lines="none" color="tertiary">
  	<ion-icon name="arrow-back-outline" routerLink="/parents-invite"></ion-icon>&nbsp;&nbsp;&nbsp;
  <h6 class="title">About Myko and FAQs</h6>
 </ion-item>
 </ion-header>

<ion-content>
	<h4 class="Head">ABOUT MYKO</h4>
<br>
<p class="artical">Children are hooked to screens the whole day !!!! <br>
 This can take a toll on their eyesight, mental health and well being. Our company provides a platform for children to effectively
earn their screen time and plan their day better while building a cordial parent child relationship.</p>
<br>
<p class="artical">MYKO is on a mission to reduce screen time and reward kids for doing simple everyday tasks! Eliminate timeouts, build closer bonds with your childern and protect from too much TV. </p>
<p class="artical">Program MYKO to assign tasks to your child - it's as easy as 1-2-3. Select the task, set a timer, and press go. During the task, the child is accompanied by thier virtual pet MYKO. Let the child be rewarded screen time for task completion and inculcate good habits leading to a happy and loving family environment!
</p>
<br>
<h4 class="Head">FAQS</h4>
<br>
<p  class="artical">Q. How does excessive screen time negatively impact my child?</p>
<p  class="artical2"> Eye strain, dry eyes, blurred vision, and headaches are common complaints associated with increased screen time.</p> 
<br> 

<br>
<p  class="artical">Q. What are  some benefits of using  our APP?</p>
<p  class="artical2"> This app allows the parent to monitor the screen time of his/her child even when the parent is away. To engage the child, the app offers visually appealing characters.</p> 
<br> 

<br>
<p  class="artical">Q. Is it free to use?</p>
<p  class="artical2"> Yes! Due to the impact of covid-19, we are currently making it free to use for everyone. Every feature & funtion is free to use.</p> 
<br> 


<br>
<p  class="artical">Q. Is there an IOS version?</p>
<p  class="artical2"> The current version is available only for android phones. We are working on the IOS version and hope to bring it soon out.</p> 
<br> 
</ion-content>