ion-content
{
--background: linear-gradient(180deg, #667eea, #764ba2)  !important;
 }

.title{
    margin-bottom: auto;
    margin-top: auto;
    font-size: 18px;
    letter-spacing: 0.20px;
         font-family: 'Montserrat', sans-serif;

}


.time{
  font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
}

.pic{
  width: 50%;
    height: 50%;
}

.input1{
	border-bottom: 1px solid #00deff;
    color: white;
         font-family: 'Montserrat', sans-serif;

}

h6{
color: white;
font-size: 13.5px;
     font-family: 'Montserrat', sans-serif;
}


h5{
	border: .5px solid #f5f5f5;
	background-color: #f5f5f5;
         font-family: 'Montserrat', sans-serif;

}

ion-datetime{
	--padding-top: auto;
    --padding-end: 0;
    --padding-bottom: auto;
    --padding-start: 16px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    --placeholder-color:black;
         font-family: 'Montserrat', sans-serif;

}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
      font-family: 'Montserrat', sans-serif;

}

/* 8 */
.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
/*  background: transparent;
*/
background-color: white;
   
    }
.btn-8 span:hover{
  /*color: #c797eb;*/
   color:white;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}